PANIC_TIMEOUT=1,NO_HZ_IDLE,HIGH_RES_TIMERS,RD_GZIP,BINFMT_ELF,BINFMT_SCRIPT,BLK_DEV,BLK_DEV_INITRD,BLK_DEV_LOOP,EXT4_FS,EXT4_USE_FOR_EXT2,VFAT_FS,FAT_DEFAULT_UTF8,MISC_FILESYSTEMS,NLS_CODEPAGE_437,NLS_ISO8859_1,SQUASHFS,SQUASHFS_XATTR,SQUASHFS_ZLIB,TMPFS,TMPFS_POSIX_ACL,DEVTMPFS,DEVTMPFS_MOUNT,NET,NETDEVICES,NET_CORE,NETCONSOLE,PACKET,UNIX,INET,IPV6,ETHERNET,COMPAT_32BIT_TIME,EARLY_PRINTK,IKCONFIG,IKCONFIG_PROC
64BIT,UNWINDER_FRAME_POINTER,PCI,BLK_DEV_SD,NET_VENDOR_INTEL,E1000,RTC_CLASS,ATA,ATA_SFF,ATA_BMDMA,ATA_PIIX,SERIAL_8250,SERIAL_8250_CONSOLE

